.html {
    scroll-behavior: smooth;
}

.body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    margin-bottom: 120px;
}

header {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 112px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 160px;
    box-sizing: border-box;
}

.nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}



.logo-header {
    height: 64px;
    width: 64px;
}

.link {
    padding-right: 50px;
    text-decoration: none;
    color: white;
}

.link:hover {
    color: #9F0908
}

.phone-button {
    background-color: #9F0908;
    color: white;
    text-decoration: none;
    font-size: 24px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.phone-button:hover {
    background-color: #b12424;
}

.img-phone {
    width: 23px;
    height: 23px;
    margin-right: 8px;
}

.headline {
    font-weight: bold;
    font-size: 96px;
    margin: 0px;
}

.h2 {
    color: #9F0908;
    font-weight: bold;
    font-size: 80px;
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    margin: 0px;
}

/* order */

.container-order {
    display: flex;
    justify-content: space-evenly;
    margin-top: 64px;
    margin-bottom: 120px;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-order {
    width: 128px;
}

.text-order {
    width: 200px;
    height: 100px;
    display: inline-block;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    font-family: "Economica", sans-serif;
    margin-top: 16px;
}

/* our menu */

.container-menu {
    background-image: url(img/section_our_menu_bg.jpg);
    padding: 120px 160px;
    margin-bottom: 120px;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: #675E54;
}

.menu-1 {
    justify-content: start;
    margin-top: 64px;
}

.menu-2 {
    justify-content: end;
    margin-top: 56px;
}

.menu-3 {
    justify-content: start;
    margin-top: 56px;

}

.h3 {
    color: #000000;
    font-family: "Economica", sans-serif;
    font-size: 56px;
    font-weight: bold;

}

.text-rigth {
    text-align: right;
}

.table-style {
    width: 500px;
    margin-left: 60px;
    margin-right: 60px;
}

th {
    padding-bottom: 16px;
}

td {
    padding-bottom: 8px;
}

th {
    text-align: left;
}

.img-menu {
    width: 352px;
    height: 352px;
}

/* adress */

.adress-container {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adress {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    margin-top: 8px;
}

.adress-marker {
    width: 22px;
    height: 22px;
}

.google {
    margin-top: 64px;
    width: 100%;
}

/* footer */

.footer {
    background-color: #0A141E;
    color: white;
    height: 144px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-footer {
    display: flex;
}

.img-logo {
    width: 44px;
    padding-right: 15px;
}

.link-footer {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.img-footer {
    width: 40px;
    height: 40px;
}

@media (max-width:1000px) {   
    header {
        padding-left: 30px;
        padding-right: 30px;
    }   
}

@media (max-width:900px) {
    /*stile für tablet */

    /*header*/
    .link {
        display: none;
    }

    header {
        padding-left: 50px;
        padding-right: 50px;
    }

    .phone-button {
        font-size: 20px;
        width: 180px;
    }

    .headline {
        font-size: 72px;
    }

    .media-size {
        font-size: 20px;
    }

    .main-container {
        margin-bottom: 96px;
    }

    /*how to order*/

    .h2 {
        font-size: 64px;
    }

    .container-order {
        
        margin-bottom: 96px;
    }

    .img-order {
        width: 112px;
    }

    .text-order {
        font-size: 32px;
        width: 112px;
        margin-top: 8px;
    }
}    
@media (max-width:1237px)   {
    /* our menu*/

    .container-menu {
        padding-left: 24px;
        padding-right: 24px;
    }

    .table-style {
        /* width: 280px; */
        margin-left: 0px;
        margin-right: 0px;
    }

    .h3 {
        font-size: 32px;
        padding-left: 0px;
    }

    .text-rigth {
        text-align: right;
    }

    .menu-wrapper {
        font-size: 24px;
        gap: 50px;
    }
        
    /*adress*/

    .adress-marker {
        width: 18px;
        height: 18px;
    }
}

@media (min-width: 315px) and (max-width: 700px) {
    /* stile für phone */

    /* header */

    header {
        height: 64px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .link {
        display: none;
    }

    .logo-header {
        width: 40px;
        height: 40px;
    }

    .phone-button {
        font-size: 16px;
        width: 150px;
        height: 25px;
    }

    /* headline */

    .headline {
        font-size: 40px;
    }

    .media-size {
        font-size: 16px;
    }

    .main-container {
        margin-bottom: 72px;
    }
}
@media (min-width: 315px) and (max-width: 767px) {

    /* how to order */

    .h2 {
        font-size: 40px;
    }

    .container-order {
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 72px;
    }

    .img-order {
        width: 112px;
    }

    .text-order {
        font-size: 32px;
        width: 100px;
        margin-top: 8px;
    }

    .order {
        margin-top: 32px;
    }

    /* our menu */

    .container-menu {
        padding-left: 16px;
        padding-right: 16px;
    }

    .img-menu { 
        height: 290px;
        width: 290px;
    }

    .menu-1, .menu-2, .menu-3 {
        flex-direction: column;
    }

    .menu-2 {
        flex-direction: column-reverse;
    }

    .table-style {
        width: 290px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 16px;
    }

    .h3 {
        font-size: 32px;
    }

    .text-rigth {
        text-align: right;
    }

    .menu-wrapper {
        font-size: 24px;
    }

    /* adress */

    .adress-marker {
        width: 15px;
        height: 15px;
    }

    /* footer */

    .footer {
        height: 86px;
    }

    .logo-footer {
        align-items: center;
    }

    .footer-text {
        display: none;
    }

    .footer {   
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
}