.html { 
    scroll-behavior: smooth;
}

.body { 
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
}
   
.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/hero_bg.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: bottom;
    color: white;
    margin-bottom: 120px;
}    
    
header {  
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 112px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 160px;
    box-sizing: border-box;
}    
.nav {  
    display: flex;
    align-items: center;
    padding-right: 50px;
    text-decoration: none;
    color: white;
   
}   
    
    
.logo-header {  
    height: 64px;
    width: 64px;
}


.link { 
    padding-right: 50px;
    text-decoration: none;
    color: white;
}    
   

.link:hover {   
    color:#9F0908
}

.phone-button { 
    background-color: #9F0908;
    color: white;
    text-decoration: none;
    font-size: 24px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.phone-button:hover { 
    background-color: #b12424;
}

.img-phone {    
    width: 23px;
    height: 23px;
    margin-right: 8px;
}

.headline {  
    font-weight: bold; 
    font-size: 96px;
    margin: 0px;
}    


    

.h2 {
    color: #9F0908;
    font-weight: bold;
    font-size: 80px;
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    margin: 0px;
}

   

.order {    
    font-size: 56px;
    font-weight: bold;
    font-family: "Economica", sans-serif;
    display: flex;
    justify-content:space-evenly ;
    margin-top: 64px;
    margin-bottom: 120px;
}
 
.order1 {  
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.img-order {    
    width: 128px;
    margin-bottom: 16px;
}  

.text-order {   
    width: 200px;
    display: inline-block;
    text-align: center;
    
}
.container-menu { 
    background-image: url(img/section_our_menu_bg.jpg);
    padding: 120px 160px;
}
    
.menu-1 {   
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 64px;
    font-size: 32px;
    font-weight: bold;
    color: #675E54;
}

.menu-2 {   
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 56px;
    font-size: 32px;
    font-weight: bold;
    color: #675E54;
}

.menu-3 {   
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 56px;
    margin-bottom: 120px;
    font-size: 32px;
    font-weight: bold;
    color: #675E54;
}  
    
.h3 {   
    color:#000000;
    font-family: "Economica", sans-serif;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 16px;
}

.table {
    border-collapse: separate;
    border-spacing: 8px; 
}

.table-style {
    margin-left: 80px;
    margin-right: 80px;
}

td {    
    padding: 8px;
}

tr, th {    
    padding: 16px;
}    
    
.img-menu {   
    width: 352px;
    height: 352px;
}
    
.adress-container   {   
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   

.adress {    
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    margin-top: 8px;
}
    
    
.google { 
    margin-top: 64px;
    width: 100%;
}    

.footer {   
    background-color:#0A141E;
    color: white;
    height: 144px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-footer {  
    display: flex;
}   


.img-logo  {    
    width: 44px;
    padding-right: 15px;
}  

.link-footer {   
    width: 140px;
    display: flex;
    justify-content: space-between;
} 
    
.img-footer {   
    width: 40px;
    height: 40px;
}

@media  (max-width:1050px)  {
    .link {
        display: none;
    }   

    header {
        padding-left: 50px;
        padding-right: 16px;
    }
    
    .headline {
        text-align: center;
        padding-bottom: 20px;
    }
}
    

@media (max-width:620px) {
    .h2 {
        text-align: center;
    }  
    .order {
        flex-direction: column;
        margin-top: 30px;
    }
    .order1 {
        padding: 20px
    }
    .main-container {
        margin-bottom: 30px;
    }
}    
@media (max-width:920px) {
    .container-menu {
        padding-left: 0px;
        padding-right: 0px;    
    }
    .menu-1 {
        flex-direction: column;    
    }
    .menu-2 {
        flex-direction: column-reverse;

    }
    .menu-3 {
        flex-direction: column;
    }
    .h3 {
        padding-left: 125px;    
    }
}
@media  (max-width:450px) {
    .headline {
        font-size: 80px;
    }
    .media {
        font-size: 20px;
    }
    .logo-footer {
        align-items: center;
    }
}    
        
    



    
           


    
    
















    

    


    







    
     
    
    
    






    
    


   


    
    
    

       


   











    



    
    
   
    
    


   



    
   
    
    
    
     

 





     
    

   


    
    
    



    
    

    
        
        
        

    
    
    

   

    
   
    

